{% extends "layout.html" %}
{% block title%}
    Home Page
{% endblock %}

{% block main %}
<!-- <h1 id="into_part_bef">Hi, I'm</h1>
<h1 id="intro_part"> Peter.</h1> -->


<div id="intro_box_1">
<h1>Here are my projects, check out what I have.</h1>
</div>


<a href="/works">
<div class="hidden" id="display_box_1">
    <h1>Social Media Posts</h1>
</div>
</a>

<a href="/works">
<div class="hidden" id="display_box_2">
    <h1>Other Designs</h1>
</div>
</a>

<a href="/works">
<div class="hidden" id="display_box_3">
    <h1>Coding Projects</h1>

</div>
</a>
{% endblock %}