{% extends "layout.html" %}
{% block title%}
    Works Page
{% endblock %}

{% block main %}
<div id="works_page"></div>

<div id="works_box">
    <h1>Designs</h1>
</div>

<div class="image-grid">
    <img src="static/Assets/Gio.jpg" alt="Gio" />
    <img src="static/Assets/Gio.jpg" alt="Gio" />
    <img  class="image-grid-row-2" src="static/Assets/Franco and Tommy.jpg" alt="Tommy and Franco Picture"/>
    <img src="static/Assets/Gio.jpg" alt="Gio" /> 
</div>

<div id="works_box">
    <h1>Photos</h1>
</div>
<div class="image-grid">
    <img src="static/Assets/Gio.jpg" alt="Gio" />
    <img src="static/Assets/Gio.jpg" alt="Gio" />
    <img  class="image-grid-row-2" src="static/Assets/Franco and Tommy.jpg" alt="Tommy and Franco Picture"/>
    <img src="static/Assets/Gio.jpg" alt="Gio" /> 
</div>

<div id="works_box">
    <h1>Coding Projects</h1>
</div>

<div class="image-grid">
    <img src="static/Assets/Gio.jpg" alt="Gio" />
    <img src="static/Assets/Gio.jpg" alt="Gio" />
    <img  class="image-grid-row-2" src="static/Assets/Franco and Tommy.jpg" alt="Tommy and Franco Picture"/>
    <img src="static/Assets/Gio.jpg" alt="Gio" /> 
</div>

{% endblock %}